* {
    margin: 0;
    padding: 0;
}
body,
html {
    height: 100%;
    width: 100%;
    background: #000;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
main {
    margin: 32px auto;
}
h1 {
    font-family: 'Lobster', cursive;
    color: #fff;
    margin: 16px;
    font-size: 3em;
}
.movie-list {
    width: 55%;
    margin: 0 auto;
    ul {
        list-style: none;
        width: 25%;
    }
    li {
        display: inline;
    }
    img {
        max-height: 400px;
        width: auto;
    }
    img + img {
        margin-top: -12px;
    }
    img:hover {
        cursor: pointer;
    }
}
.movie-details {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    overflow-y: scroll;
    h2 {
        margin: 48px 0;
        font-size: 2em;
        text-decoration: underline;
    }
    p {
        margin: 32px 0;
    }
}
@media (min-width: 1401px) {
    .float-left {
        float: left;
        width: 50%;
    }
    .float-right {
        float: right;
        width: 50%;
    }
    .wrapper {
        width: 60%;
        margin: 15% auto;
        display: block;
    }
}
@media (max-width: 1400px) {
    .movie-list {
        width: 80%;
    }
    .wrapper {
        margin: 8px auto;
        width: 80%;
        text-align: center;
    }
    .float-right {
        float: none;
        width: 100%;
    }
    .float-left {
        float: none;
        width: 100%;
    }
}
@media (max-width: 520px) {
    img {
        max-height: 200px;
        width: auto;
    }
    .wrapper {
        width: 90%;
    }
    .movie-details h2 {
        margin: 24px 0;
    }
    p {
        font-size: 0.8em;
    }
    .movie-list {
        width: 100%;
    }
}
